<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}任务信息{% endblock %}</title>
    <style>{% block style %}{% endblock %}</style>
</head>
<body>
  <section class="container" id="content">
    {% block content %}
      <ul>
        <li>See <a href="/books">all</a> the books.</li>
        <li>Get them by <a href="/books/1">id</a>.</li>
        <li>curl -H "Content-Type: application/json" -d [json] http://localhost:1337/books/</li>
      </ul>
    {% endblock %}
  </section>
</body>
</html>
