{% extends 'layout.html' %}

{% block title %}seentime{% endblock %}

{% block content %}

<br/>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#mipinr" role="tab" data-toggle="tab">觅品儿接口</a></li>
  <li role="presentation"><a href="#ibk" role="tab" data-toggle="tab">爱爆款接口</a></li>
  <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">账号管理</a></li>
  <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">文案整理</a></li>
  <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">自身和竞品</a></li>
  <li role="presentation"><a href="#flow" role="tab" data-toggle="tab">App信息架构和业务流程图</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">


    <div role="tabpanel" class="tab-pane active" id="mipinr">

        <h3>接口使用说明</h3>
        <a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/989634f822a84591a548827822b50450/">查看使用说明</a>

        <h3>public接口</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>接口名称</th>
                    <th>请求地址</th>
                    <th>请求类型</th>
                    <th>状态</th>
                    <th>接口详情</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mipinrs %}
                <tr>
                    <td>{{ m.name }}</td>
                    <td>{{ m.url }}</td>
                    <td>{{ m.type }}</td>
                    {% if m.status == 0 %}<td><span class='label label-warning'>未完成</span></td>{% endif %}
                    {% if m.status == 1 %}<td><span class='label label-success'>已完成</span></td>{% endif %}
                    <td><a class="btn btn-default btn-sm" target="_blank" href={{m.detailUrl}}>查看详情</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- 接口 -->
    <div role="tabpanel" class="tab-pane" id="ibk">

        <h3>接口使用说明</h3>
        <a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/989634f822a84591a548827822b50450/">查看使用说明</a>

        <h3>public接口</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>接口名称</th>
                    <th>请求地址</th>
                    <th>请求类型</th>
                    <th>状态</th>
                    <th>接口详情</th>
                </tr>
            </thead>
            <tbody>
                {% for p in publics %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.url }}</td>
                    <td>{{ p.type }}</td>
                    {% if p.status == 0 %}<td><span class='label label-warning'>未完成</span></td>{% endif %}
                    {% if p.status == 1 %}<td><span class='label label-success'>已完成</span></td>{% endif %}
                    <td><a class="btn btn-default btn-sm" target="_blank" href={{p.detailUrl}}>查看详情</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Buyer接口</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>接口名称</th>
                    <th>请求地址</th>
                    <th>请求类型</th>
                    <th>状态</th>
                    <th>接口详情</th>
                </tr>
            </thead>
            <tbody>
                {% for b in buyers %}
                <tr>
                    <td>{{ b.name }}</td>
                    <td>{{ b.url }}</td>
                    <td>{{ b.type }}</td>
                    {% if b.status == 0 %}<td><span class='label label-warning'>未完成</span></td>{% endif %}
                    {% if b.status == 1 %}<td><span class='label label-success'>已完成</span></td>{% endif %}
                    <td><a class="btn btn-default btn-sm" target="_blank" href={{b.detailUrl}}>查看详情</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Seller接口</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>接口名称</th>
                    <th>请求地址</th>
                    <th>请求类型</th>
                    <th>状态</th>
                    <th>接口详情</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sellers %}
                <tr>
                    <td>{{ s.name }}</td>
                    <td>{{ s.url }}</td>
                    <td>{{ s.type }}</td>
                    {% if s.status == 0 %}<td><span class='label label-warning'>未完成</span></td>{% endif %}
                    {% if s.status == 1 %}<td><span class='label label-success'>已完成</span></td>{% endif %}
                    <td><a class="btn btn-default btn-sm" target="_blank" href={{s.detailUrl}}>查看详情</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 账号管理 -->
    <div role="tabpanel" class="tab-pane" id="profile">
        <h3>账号</h3>
        <table class="table table-bordered">
            <!-- <thead> -->
            <!--     <tr> -->
            <!--         <th>类型</th> -->
            <!--     </tr> -->
            <!-- </thead> -->
            <tbody>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/a6a2ea339f734227a3f61d6460343b8d/">服务器账号</a></td>
                </tr>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/659fabaaf93f4a569793694c9fa76a71/">账号管理</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- 文案 -->
    <div role="tabpanel" class="tab-pane" id="messages">
        <h3>文案</h3>
        <table class="table table-bordered">
            <!-- <thead> -->
            <!--     <tr> -->
            <!--         <th>类型</th> -->
            <!--     </tr> -->
            <!-- </thead> -->
            <tbody>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/e9aba7ca96ae49b093ed8cb7d866caef/">卖家中心文案</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 其他 -->
    <div role="tabpanel" class="tab-pane" id="settings">
        <h3>号</h3>
        <table class="table table-bordered">
            <!-- <thead> -->
            <!--     <tr> -->
            <!--         <th>类型</th> -->
            <!--     </tr> -->
            <!-- </thead> -->
            <tbody>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/eb7653d919e44eb0a18a62cbd540dca2/">爱爆款产品介绍</a></td>
                </tr>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/54bce2ba787a4fb9802e84ae816d50f9/">刷单的必修课</a></td>
                </tr>
                <tr>
                    <td><a class="" target="_blank" href="https://tower.im/projects/f36d2393669943619e47cdded84d1ffa/docs/2fb0c9dba9834598acc2055b1e1eca15/">随笔记</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- app-info -->
    <div role="tabpanel" class="tab-pane" id="flow">
        <h3>账号</h3>
        <table class="table table-bordered">
            <!-- <thead> -->
            <!--     <tr> -->
            <!--         <th>类型</th> -->
            <!--     </tr> -->
            <!-- </thead> -->
            <tbody>
                <tr>
                    <td><a class="" target="_blank" href="http://static.com/img/ibk-work/app-info.png">app信息架构</a></td>
                </tr>
                <tr>
                    <td><a class="" target="_blank" href="http://static.com/img/ibk-work/flow.png">业务流程图</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>



{% endblock %}
