<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}koajs REST API{% endblock %}</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
  <section class="container" id="content">
    {% block content %}
      <ul>
        <li>See <a href="/books">all</a> the books.</li>
        <li>Get them by <a href="/books/1">id</a>.</li>
        <li>curl -H "Content-Type: application/json" -d [json] http://localhost:1337/books/</li>
      </ul>
    {% endblock %}
  </section>

    <script>
     function * he() {
        console.log("start");
        yield 34;
        yield 12;
        console.log("end");
        return "3433333";
    }
    var f = he();

    console.log(f.next());
    console.log(f.next());
    console.log(f.next());
    </script>

</body>
</html>
