{% extends 'app-layout.html' %}

{% block title %}books{% endblock %}

{% block style %}
* {
}
.dl-horizontal dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    line-height: 2em;
}
.dl-horizontal dd {
    line-height: 2em;
}

{% endblock %}

{% block content %}

    <h3><i class="icon-info"></i>商家要求</h3>
    <dl class="dl-horizontal">
        <dt>商家QQ：</dt>
        <dd>*********(申请后可见)</dd>
        <dt>搜索关键字：</dt>
        <dd>{{task.keyword}}({{task.position}})</dd>
        <dt>排序方式：</dt>
        <dd>{{task.searchSort}}</dd>
        <dt>下单留言：</dt>
        <dd>{{task.secret}}</dd>
        <dt>操作要求：</dt>
        <dd>
            {{task.basicRequirement}}
        </dd>
        <dt>其他要求：</dt>
        <dd>{{task.otherRequirement}}</dd>
        <dt>注意：</dt>
        <dd>我们会对用户的购买全程监控，请按要求做任务，请在与商家在旺旺聊天时不要提及“刷单、爱爆款”等信息，否则活动无效</dd>
    </dl>
    <ul>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
        <li>这是要求</li>
    </ul>

{% endblock %}
