{% extends 'app-layout.html' %}

{% block title %}books{% endblock %}

{% block style %}
* {
    margin: 0;
    padding: 0;
}
li {
    min-height: 80px;
    padding: 12px 6px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-top: -1px;
    position: relative;
}
ul, ol, li {
    list-style: none;
}
.list-item {
    display: -webkit-box;
}

li .p {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-left: 8px;
}

.d {
    margin: 4px 15px 6px 0;
    -webkit-box-flex: 1;
}

.p a {
    color: #3d4245;
    text-decoration: none;
    line-height: 79px;
    display: inline-block;
    position: relative;
}
.p-pic {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border: none;
}
.d a {
    color: #3d4245;
    text-decoration: none;
}

li .d-title {
    line-height: 22px;
    margin-bottom: 3px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: #4b566a;
    font-size: 12px;
    height: 44px;
}

li .d p {
    line-height: 24px;
    color: #999;
}

.h {
    color: #eb5211;
}

li .d .d-price .h {
    font-size: 16px;
}

li .d .d-price del {
    font-size: 10px;
    margin-left: 5px;
}

li .d .d-main {
    display: -webkit-box;
    margin-top: -1px;
    height: 20px;
    overflow: hidden;
}
li .d .d-main p {
    font-size: 10px;
    overflow: hidden;
}
li .d p {
    line-height: 24px;
    color: #999;
}

li .d .d-main .d-num {
    -webkit-box-flex: 1;
    text-align: center;
}

li .d .d-main p {
    font-size: 10px;
    overflow: hidden;
}

li .d p {
    line-height: 24px;
    color: #999;
}

li .d .d-main .d-area {
    text-align: right;
}
li .d .d-main p {
    font-size: 10px;
    overflow: hidden;
}
li .d p {
    line-height: 24px;
    color: #999;
}
{% endblock %}

{% block content %}

<!-- nav tabs -->
<li class="mark">
    <div class="list-item">
        <div class="p">
            <a href="{{task.itemUrl}}" title="">
                <img class="p-pic" src="{{task.picUrl}}_210x210.jpg">
                <span class="flag c-icon-pt"></span>
            </a>
        </div>
        <div class="d">
            <a href="{{task.itemUrl}}" title="">
                <h3 class="d-title">{{task.title}}</h3>
            </a>
            <p class="d-price"><em class="h">￥{{task.promoPrice}}</em><del>￥{{task.originPrice}}</del></p>
            <div class="d-main">

                {% if task.delivery == 1 %}
                    <p class="d-freight">{{delivery}}免运费</p>
                {% endif %}

                <p class="d-num">{{task.sellCount}}人付款</p>
                <p class="d-area">{{task.city}}</p>
            </div>
        </div>
    </div>
</li>

{% endblock %}
